*{
    margin: 10px;
    padding: 10px;
}

#timecount{
    margin: auto;
    margin-top: 10px;
text-justify: auto;
font-size: 20px;
font: bold;
font-style: oblique;
color: rgb(24, 184, 233);
border: solid 2px black;
height: auto;
width: 250px;
border-radius: 8px;
text-align: center;
position: static;
}
